{
    "presets": [
      [
        "@babel/preset-env",
      ],
      [
        "@babel/preset-typescript",
        {
          "isTSX": true,
          "allExtensions": true,
          "optimizeConstEnums": true
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
  }
